{% extends "layout.html" %}
{% block body %}
<div>
    <br><br>
    <form action="/statistical_test2_result" method="POST">
        <label>Please copy your 1st numeric variable directly from your excel column:</label><br>
        <textarea name="input_variable1" rows=5 cols=110></textarea>
        <br>
        <label>Please copy your 2nd numeric variable directly from your excel column:</label><br>
        <textarea name="input_variable2" rows=5 cols=110></textarea> <br><br>

        <input type="radio" name="statistical_test2" value="2meanequal">
        <label>Test for the equality of two means when data FOLLOW a normal distribution and variances are equal</label><br>

        <input type="radio" name="statistical_test2" value="2meannonequal">
        <label>Test for the equality of two means when data FOLLOW a normal distribution and variances are different</label><br>

        <input type="radio" name="statistical_test2" value="2nonmean">
        <label>Test for the equality of two means  when data DO NOT follow a normal distribution (each sample should have n > 20)</label><br>

        <input type="radio" name="statistical_test2" value="meanpaired">
        <label>Test for the equality of two means with paired samples when data FOLLOW a normal distribution </label><br>

        <input type="radio" name="statistical_test2" value="nonmeanpaired">
        <label>Test for the equality of two means with paired samples when data DO NOT follow a normal distribution (each sample should have n > 20)</label><br>

        <input type="radio" name="statistical_test2" value="variances">
        <label>Test for the equality of variances when data FOLLOW a normal distribution (Bartlett Test)</label><br>

        <input type="radio" name="statistical_test2" value="nonvariances">
        <label>Test for the equality of variances when data DO NOT follow a normal distribution (Levene Test)</label><br>

        <input type="radio" name="statistical_test2" value="proportions">
        <label>Test for equality of proportions (your variables must be the rows of a 2x2 contingency table)</label><br>

        <input type="submit" name="submit" value="Let's do it!">



        <p></p><br>
    </form>
</div>
{% endblock %}

