{% extends "layout.html" %}
{% block body %}
<div>
    <p>The P-value is </p>
    <p class="sequence">{{ output }}</p>
    <p>The Student's t-test for the mean tests the null hypothesis that the mean  is equal to a prespecified value . If t-test p-value >0.05 the data mean is equal to the prespecified value , if p-value <0.05 data mean is not equal to the prespecified value. REMEMEBER your data MUST follow a normal distribution for using the Student's t-test </p> 

    <a href="https://en.wikipedia.org/wiki/Student%27s_t-test"> Click here for more info about  t-test </a>
</div>
{% endblock %}
