{% extends "layout.html" %}
{% block body %}
<div>


<address>

Do you like SELFY? Do you have any suggestion? Please if you ever have any question or suggestion, don't hesitate to get in touch. SELFY is my very first app , it was handmade with love and I crave for feedback :)  <br>
 Drop me an email!!<br>



App written by <a href="mailto:ruth.barral@usc.es">Ruth Barral-Arca</a>.<a href="http://orcid.org/0000-0003-2900-1288"> <br> My ORCID</a>
<br><br> 

1 Unidade de Xenética, Departamento de Anatomía Patolóxica e Ciencias Forenses, Instituto de Ciencias Forenses, Facultade de Medicina, Universidade de Santiago de Compostela, and GenPoB Research Group, Instituto de Investigaciones Sanitarias (IDIS), Hospital Clínico Universitario de Santiago (SERGAS), Galicia, Spain<br>
2 Translational Pediatrics and Infectious Diseases, Hospital Clínico Universitario de Santiago, Santiago de Compostela, Spain, and GENVIP Research Group (www.genvip.org), Instituto de Investigación Sanitaria de Santiago, Galicia, Spain<br>
</address> 
</div>
{% endblock %}



