{% extends "layout.html" %}
{% block body %}
 
<h3><b>What do you want to do?</b></h3>
<br><br>
<h3><b>Statistical analysis!</b></h3>

<p><a href="continuous.html">An analysis of one continuous variable</a></p>
<p><a href="twocontinuous.html">Study the relationship (correlation) between two continuous variables</a></p>       
<p><a href="statistical_test1.html">Statistical tests for one variable</a></p> 
<p><a href="statistical_test2.html">Statistical tests for two variables</a></p> 
<br>
<h3><b>Plot data!</b></h3>
<b>Six variables</b>
<p><a href="Boxplot6.html">Box-and-whisker plot</a></p>
<b>Two variables</b>
<p><a href="dotplots.html">Scatter plot</a></p>
<p><a href="Boxplot.html">Box-and-whisker plot</a></p>

<b>One variable</b>
<p><a href="Density.html">Density distribution</a></p>
<p><a href="boxplot_one.html">Box-and-whisker plot</a></p>
<p><a href="histogram.html">Histogram</a></p>
<p><a href="bars.html">Bar plot</a></p>
<p><a href="pie.html">Pie chart</a></p>
<br> 
<h3><b>Learn how to use SELFY</b></h3>
<p><a href="tutorial.html">See a videotutorial</a></p>
<br>  
<h3><b>Contact you!</b></h3> 
<p><a href="email.html">Go to the my profile page</a></p>    

    {% endblock %}
