<!DOCTYPE html>
<html>

<title>SELFY 1.0</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
body,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
h1 {font-family: 'Amatic SC', cursive; color: '#000080'}
p.sequence {font-family: 'Courier New'}
</style>


<body  bgcolor="white" >
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
    <center><img src="https://image.ibb.co/e91ERc/Sin_t_tulo_1.jpg" alt="OMICS logo" style="width:100%" ></center>
  <p>Ruth's app for easy data analysis, <span class="w3-opacity">#SELFY #KEEPITSIMPLE</span></p>

</header>


<div class="w3-row">
 <div class="w3-col c8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
    {% block body %}{% endblock %}    
    </div>
  </div>
 </div>
</div>
 <p>Thank you for using SELFY!  (please cite)</p> 
 <p><span class="w3-opacity">Barral-Arca,R. (2018) SELFY. A python-based web app for simple statistical analysis. http:// </span></p>
<a href="https://info.flagcounter.com/GqfD"><img src="https://s01.flagcounter.com/count/GqfD/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_18/viewers_0/labels_0/pageviews_0/flags_0/percent_0/" alt="Flag Counter" border="0"></a>
</div>
</body>

</html>

